{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="row">

<div class="col-md6 offset-md-3">
    <h2>Kargo Bilgisi Oluştur</h2>
    <form method="post">
        <div class="form-group">
            {{ form_label(form.sender, 'Gönderen Adı') }}
            {{ form_widget(form.sender, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.sender) }}
        </div>

        <div class="form-group">
            {{ form_label(form.receiver, 'Gönderen Adı') }}
            {{ form_widget(form.receiver, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.receiver) }}
        </div>

        <div class="form-group">
            {{ form_label(form.nereden, 'Gönderen Adı') }}
            {{ form_widget(form.nereden, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.nereden) }}
        </div>

        <div class="form-group">
            {{ form_label(form.nereye, 'Gönderen Adı') }}
            {{ form_widget(form.nereye, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.nereye) }}
        </div>



        <button type="submit" class="btn btn-primary">Kargo Bilgisi Oluştur</button>
    </form></div></div></div>
{% endblock %}